body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.hidden {
  display: none;
}

/* SPLASH */
#splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s;
}

#logo {
  width: 140px;
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}

/* CHAT */
#chat {
  height: 90vh;
  overflow-y: auto;
  padding: 15px;
}

.msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: orange;
  color: black;
  margin-left: auto;
}

.ai {
  background: #1e1e1e;
}

#inputBox {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: orange;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}
